version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: flask_db
    restart: always
    env_file: .env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: flask_app
    restart: always
    env_file: .env
    ports:
      - "5001:5001"
    volumes:
      - .:/app
    environment:
      - FLASK_DEBUG=1
    depends_on:
      - db

volumes:
  db_data: